body {
    font-family: Helvetica, sans-serif;
}

header {
    text-align: center;
    margin-top: 25px;
}

.page-content {
    display: flex;
    justify-content: center;
}

.calculator-body {
    width: 400px;
    background-color:rgb(196, 196, 196);
    padding: 10px;
    border: 5px outset;
}

.full-display {
    background-color:rgb(255, 255, 255);
    position: relative;
    width: 390px;
    height: 90px;
    max-width: 100%;
    margin-left: 5px;
    margin-bottom: 15px;
}

.memory-indicator {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 35px;
    font-size: 24px;
    padding-left: 15px;
    z-index: 2;
} 

.sign {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 90px;
    font-size: 60px;
    padding-left: 15px;
    z-index: 1;
} 

.calculator-input {
    position: 0px 0px absolute;
    line-height: 90px;
    text-align: right;
    font-size: 60px;
    padding: 0px 10px 0px 40px;
    overflow:hidden;
    text-overflow:initial;
} 

.buttons-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

button {
    font-size: 40px;
    width: 90px;
    height: 60px;
    margin: 5px;
}

.equal-button {
    background-color:antiquewhite;
}

.plus-button {
    background-color:rgb(139, 139, 139);
    height: 130px;
    margin-bottom: -70px;
}

.clear-button {
    background-color:darksalmon;
    border-radius: 50%;
}

.operator-button {
    background-color:darkgrey;
}

.top-button {
    background-color:darkgrey;
}

.memory-button {
    background-color:darkgrey;
    font-size: 24px;
    border-radius: 50%;
}

.history {
    width: 300px;
    margin: 0px 20px;
    border: 1px solid;
    max-height: 555px;
}

.history-header {
    text-align: center;
}

.history-list {
    overflow:auto;
    text-overflow:clip;
    max-height: calc(100% - 68px);
}

footer {
    text-align: center;
}